@font-face {
    font-family: 'URW DIN Arabic Medium';
    src: url('../fonts/URW-DIN-Arabic-Medium.ttf');
}

@font-face {
    font-family: 'URW DIN Arabic';
    src: url('../fonts/URW-DIN-Arabic-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
}

*:not(.material-icons, .material-icons-outlined, i) {
    font-family: 'Montserrat', sans-serif !important;
}

body .realsoft-option .realsoft-list-item__primary-text {
    font-family: 'Montserrat', sans-serif;
}